
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: blue;
}

.sidebar .logo-details{
    height: 80px;
    width: 100%;
}

.sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color: white;
}

ul{
    list-style-type: none;
}