
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: blue;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 60px;
}

.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color: white;
    /* background: red; */
    min-width: 60px;
    text-align: center;
}

.sidebar .logo-details .logo_name{
    font-size: 24px;
    font-weight: 500;
    color:white;
    
}

.sidebar .nav-links{
    margin-top: 16px;
}

.sidebar .nav-links li{
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar .nav-links li a{
    /* background: red; */
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover{
    background: lightblue;
}

.sidebar .nav-links li a i{
    /* background: red; */
    min-width: 60px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.sidebar .nav-links li a .link_name{
    color: white;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;

}

ul{
    list-style-type: none;
}

/* Home-section CSS */

.home-section{
    background: grey;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav{
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    height: 80px;
    background: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav{
    width: calc(100% - 60px);
    left: 60px;

}

.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;

}

.home-section nav .search-box{
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}

nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    color: white;
    background: gray;
    border: 2px solid brown;
    outline: none;

}

nav .search-box .bx-search{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: blue;
    border-radius: 6px;
    color: white;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

.home-section nav .profile-details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background: grey;
    border: 2px solid blue;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}

nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;

}

nav .profile-details i{
    color: #333;
    font-size: 25px;
}

.home-section .home-content{
    position: relative;
    padding-top:100px ;

}

.home-content .overview-boxes .box{
    width: calc(100% / 4 - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px; 
    background:#fff;
    border-radius: 12px;

}

.home-content .overview-boxes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}

.home-content .overview-boxes .number{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}

.overview-boxes .indicator{
    display: flex;
    align-items: center;
}

.overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    color: #fff ;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;

}

.overview-boxes .indicator .text{
    font-size: 12px;
}

.overview-boxes .box .cart{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}

.overview-boxes .box .cart.two{
    background: #2BD47D;
    color: #C0F2D8;
}

.overview-boxes .box .cart.three{
    color: #ffc233;
    background:#ffe8b3 ;
}

.overview-boxes .box .cart.four{
    color: #e05260;
    background: #f7d4d7;
}

@media (max-width: 1216px) {
    .sidebar{
        width: 60px;
    }

    .sidebar.active{
        width: 240px;
    }

    .home-section{
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active ~ .home-section{
        width: calc(100% - 220px);
        left: 40px;
    }

    .home-section nav{
        width: calc(100% - 60px);
        left: 60px;
       
    }
    
}