 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
 }

 body{
    overflow: hidden;
 }

 section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#fec556 ;
  
 }

 section .blur_clr{
    position: absolute  ;
    filter: blur(150px);
 }

 section .blur_clr:nth-child(1){
    background: #fc9148;
    width: 500px;
    height: 500px;
    right: -50px;
    top:-250px ;
 }

 section .blur_clr:nth-child(2){
    background: #fc9148;
    width: 300px;
    height: 300px;
    left: -100px;
    bottom:-150px ;
 }

 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
 }

 header .logo{
   position:relative;
   font-size: 2.5em;
   color: #531121;
   text-transform: uppercase;
   font-weight: 700;
   text-decoration: none;
 }   

 header .nav{
   position: relative;
   display: flex;
 }

 header .nav li{
   list-style: none;
   margin: 0 10px;
 }

 header .nav li a{
   color: #531121;
   text-decoration: none;
   padding: 8px 15px;
   border-radius: 25px;
   font-weight: 500;
   transition: 0.5s;
 }

 header .nav li a:hover{
   background: #fff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 }

 header .btn{
   background: #531121;
   color: #fff;
   text-decoration: none;
   padding: 8px 15px;
   border-radius: 25px;
   font-weight: 500;
   transition: 0.5s;
 }

 header .btn:hover{
   transform: scale(0.9);
 }

 .content{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .content .contentBx{
   max-width: 700px;
 }

 .content .contentBx h1{
   font-size: 3em;
   color: #032b3e;
   line-height: 1em;
   margin: 10px;
 }

 .content .contentBx p{
   font-size: 1em;
   color: #032b3e;
   line-height: 1em;
   margin: 30px 10px;
 }

 .content .contentBx .btn{
   background: #531121;
   box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.1);
   color: #fff;
   text-decoration: none;
   padding: 8px 15px;
   border-radius: 25px;
   font-weight: 500;
   margin: 10px;
   margin-top: 20px;
   transition: 0.5s;
 }

 .content .contentBx .btn:hover{
   background: #fff;
   color: #531121;
   box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.1);
 }

 .hero-img{
   max-width: 100%;
   max-height: 750px;
   display: block;
 }




 